// other color
$org:                   #ddd;

$blue:                 #00c8c8;
$blue-l:               #0cd2d2;
$blue-d:               #06bebd;

$yellow:                #fdc556;
$yellow-l:              #fccf74;
$yellow-d:              #f7af25;

$red:                   #ff7878;
$red-l:                 #fc8a8a;
$red-d:                 #ea6060;

$green:                  #ddd;
$purple:                #ddd;
$pink:                  #ddd;

// main color
$main:                  $blue;
$main-d:                $blue-d;
$main-dr:               $blue-d;
$main-l:                $blue-l;
$main-lr:               $blue-l;

// sub color
$sub: 					$red;
$sub-d: 				$red-d;
$sub-dr: 			    $red-d;
$sub-l: 			    $red-l;
$sub-lr: 			    $red-l;

// grey color
$bgdark:                #3d3d3d;
$bgdark-d:              #333;
$bgdark-l:              #555;

// 
$border: 			    #ddd;
$border-d: 		        #ccc;
$border-l: 	            #e7e7e7;

//
$bg: 			        #ddd;
$bg-d: 	                #ccc;
$bg-l: 	                            #f7f7f7;

// disabled color
$disabled-color:        #999;
$disabled-bg:           #ddd;
$disabled-border:       #ccc;

//color
$color:                 #666; //575153
$color-d: 			    #333; //222
$color-l: 		        #999; //8e8c8c
$color-lr: 		        #aaa; //aaa
$color-disable: 		$color-l;

//font-size
$fz-s:                  unit(12);
$fz:                    unit(14);
$fz-l:                  unit(16);
$fz-xl:                 unit(18);
$fz-xxl:                unit(20);
$fz-xxxl:               unit(24);

$icon:                  #fff;

$shadow-s:              0 unit(1) unit(6) rgba(0, 0, 0, 0.2);
$shadow:                0 unit(1) unit(6) rgba(0, 0, 0, 0.2);
$shadow-l:              0 unit(1) unit(6) rgba(0, 0, 0, 0.2);

//--------------------- radius ---------------------//

$radius:                unit(3);           //rem：去掉单位
$radius-s:              unit(2);
$radius-l:              unit(6);


//--------------------- z-index ---------------------//

$zindex-below:          -1;
$zindex-default:        1;
$zindex-fix:            50;		//fixed topbar,backtotop
$zindex-dd:             70;		//dropdown
$zindex-modal:          100;	//pop    
$zindex-up:             3;
$zindex-down:           2;


//--------------------- animation ---------------------//

$dur-s:                 0.3s;
$dur:                   0.5s;
$dur-l:                 1s;
$dur-h:                 2s;

$shadow:                0 0 unit(10) rgba(0, 0, 0, 0.1);

//--------------------- width and height ---------------------//

$header-h:              unit(50);      // header height     /// used
$nav-h:                 unit(64);      // mainnav height  
$footer-h:              unit(0);      // footer height 
$wrapper-w:				unit(1200);      // 正文 width
$min-w:				    unit(1024);      // 正文 width,1024还需加上滚动条宽度
$side-w:				unit(234);      // 侧栏 width
$padding:  				unit(30);
$com-width:             unit(200);       // 标准宽度
$com-height:            unit(30);       // 标准高度
$com-height-l:          unit(36);
$com-height-s:          unit(20);



//--------------------- media ---------------------//

$mq-s:                  max-width $min-w;
// $mq-n:                  1024px 1200px;
// $mq-l:                  1000px;
// $mq-h:                  1600px;
// media query
// @example:
// 示例scss:
//   .foo{
//     width: 500px;
//     @include breakpoint($mq-n){
//       width: 200px;
//     }
//   }
