@charset "UTF-8";
// variables and mixins
@import "_base/mixin";
@import "_base/variables";
@import "_base/breakpoint";

//--------------------- button ---------------------//
.ui-button {
    display: inline-block;
    vertical-align: middle;
    min-width: unit(50);
    height: unit(30);
    background: $main;
}